{% extends "base.html" %}
{% block title %}u-stats{% endblock %}
{% block styles %}
 {{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="vertical-center" style="position:absolute; top: 45%; transform: translateY(-45%);">
    <img src="{{ url_for('static', filename='logo.png') }}">
    <h2>reddit user analytics</h2>
    <br>
    <div class="row-center" style="padding-left: 25%; padding-right: 25%;">
      <form id="go">
        <div class="input-group">
          <span class="input-group-addon">/u/</span>
          <input type="text" class="form-control" placeholder="Username" value="">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
          </span>
        </div>
      </form>
    </div>
    <br>
    <h4>{{message}}</h4>
    <br>
    <br>
  </div>
</div>

<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$("#go").submit(function(e) {
  e.preventDefault();
  var target = $(this).find("input").val();
  var url = $SCRIPT_ROOT + "/u/" + target;
  window.location.replace(url);
});
</script>
{% endblock %}
