{% extends "base.html" %}
{% block title %}{{user}} - u-stats{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='plotcss.css') }}">
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/radar-chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
<script src="{{ url_for('static', filename='js/d3-tip.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/plotlib.js') }}"></script>
{% endblock %}

{% block content %}
<div class="row-center" style="padding-left: 25%; padding-right: 25%; padding-top: 10px; padding-bottom: 5px;">
	<form id="go">
    <div class="input-group">
      <span class="input-group-addon">/u/</span>
      <input type="text" class="form-control" placeholder="Username" value="">
      <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Search</button>
      </span>
      </div>
  </form>
</div>
<div id="user">
	<span class="span4">
  	<h1 style="font-size: 50px;">Stats for /u/{{user}}</h1>
		<span class="fa fa-spinner fa-spin" style="font-size:24px;"></span>
	</span>
  <h2 style="font-size: 20px;"></h2>
</div>
<div id="error" type="hidden">
	<h1 style="font-size 20px;"></h1>
</div>
<br>
<div id="info" class="container">
  <div class="row-fluid">
    <div class="col-md-2">
	  <p class="text-muted">Data last refreshed</p>
	  <div class="row">
		<div class="col-md-5 col-md-offset-1">
			<button id="refresh" class="btn btn-primary btn-xs" type="button">Refresh</button>
		</div>
		<div class="col-md-5">
	       <p><strong>{{refreshed}}</strong></p>
	    </div>
	  </div>
	</div>
    <div class="col-md-2">
	  <p class="text-muted">Account created</p>
	  <p><strong>{{account_created}}</strong></p>
	</div>
	<div class="col-md-2">
	  <p class="text-muted">Data available from</p>
	  <p><strong>{{oldest_post_date}}</strong></p>
	</div>
	  <div class="col-md-2">
	    <p class="text-muted">Total karma
		  <i class="text-muted fa fa-exclamation-circle" data-toggle="tooltip" data-placement="right" title
		  data-original-title="Sum of individual post scores. Karma reported by reddit may be different."></i>
		</p>
		<p><strong>{{total_karma}}</strong></p>
	  </div>
	<div class="col-md-2">
	  <p class="text-muted">Words per post</p>
	  <p><strong>{{words_per_post}}</strong></p>
	</div>
	<div class="col-md-2">
	  <p class="text-muted">Karma per word</p>
	  <p><strong>{{karma_per_word}}</strong></p>
	</div>
  </div>
</div>
<hr>
<div>
	<h2 style="font-size: 30px;">Subreddits</h2>
  <select id="selector">
    <option value="count">Posts</option>
    <option value="score">Average score</option>
  </select>
  <div id="barplot" class="graph"></div>
  <h2 style="font-size: 30px;"></h2>
	<h3 style="font-size: 20px;">Try out these subreddits as well:</h3>
	<ul id="recommendations" class="list-inline" style="font-size: 20px;">
	</ul>
</div>
<br>
<hr>
<br>
<div>
  <h2 style="font-size: 30px;">Activity over last 90 days</h2>
  <div id="activityplot" class="graph"></div>
</div>
<br>
<hr>
<br>
<div>
  <h2 style="font-size: 30px;">Distribution of posts by day and hour
  <i class="text-muted fa fa-exclamation-circle" style="font-size: 15px;" data-toggle="tooltip" data-placement="right" title
		  data-original-title="Time is your local time."></i></h2>
  <br>
  <div id="radar" class="graph"></div>
</div>
<hr>
<br>
<div>
	<br>
	<h2 style="font-size: 30px;">Words appearing in posts</h2>
	<div id="cloud" class="graph"></div>
</div>

<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
var username = {{user|tojson|safe}};
// Initialize tooltips
$(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
		getUserData(username, false);
});

$("#go").submit(function(e) {
	e.preventDefault();
	var target = $(this).find("input").val();
	var url = $SCRIPT_ROOT + "/u/" + target;
  window.location.replace(url);
})

$("#refresh").click(function() {
	$(this).text("Refreshing..");
	getUserData(username, true);
	$(this).text("Refresh");
});

$(document).on({
	ajaxStart: function() { $(".fa-spin").show(); },
	ajaxStop: function() { $(".fa-spin").hide(); }
});
</script>
{% endblock %}
